<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | pagina nao encontrada</title>
    <link rel="stylesheet" href="/resources/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/editor.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 position-absolute top-50 start-50 translate-middle">
                <div class="error">
                    <div class="shadow-lg p-3 mb-5 bg-body rounded text-uppercase">
                        <div class="h2 title">404: Página Não Encontrada</div>
                    </div>
                    <div class="text-center">
                        <a href="/" class="btn btn-outline-secondary btn-lg text-uppercase">Home</a>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</body>
</html>